button {
  background:#f3f4f5;
  border:2px solid #f3f4f5;
  color:#515769;
  font-weight: 600;
  border:none;
  padding:8px 30px;
  border-radius: 5px;
  margin-top:10px;
  &:hover 
  {@include hoverBtn;}
}