footer {
  padding:70px 0;
  ul {
    li {
      line-height: 2.3;
      font-size:15px;
      a 
      {color:#515769; text-decoration:none; font-weight: 600;}
    }
  }
  p 
  {font-weight: bold; color:#515769;}
  i 
  {color:red;}
}