header {
  -webkit-background-image:url(../img/1920x1080/bg.jpg);
  -moz-background-image:url(../img/1920x1080/bg.jpg);
  -o-background-image:url(../img/1920x1080/bg.jpg);
  background-image:url(../img/1920x1080/bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  .overlay {
    @include overlay;
    background:rgba(0,0,0,0.6);
  }
  .intro {
    position: relative;
    padding-top:350px;
    color:#FFF;

    h1 
    {font-size:60px;}
    p 
    {font-size:16px; width:45%;}
    button {
      font-size:20px;
      color:#FFF;
      border:2px solid #FFF;
      padding:5px 40px;
      &:hover 
      {@include hoverBtn;}
    }
  }
}

@media (max-width: 991.98px) {
  header .intro {
    padding-top:300px;
    h1 
    {font-size:30px;}
    p 
    {width:100%;}
  }
}

@media (min-width: 1024px) and (max-width: 1900px) {
  header .intro {
    padding-top:280px;
    h1 
    {font-size:33px;}
    p 
    {width:50%;}
  }
}